body {
  background: #fff;
}
.flex-container {
  display: flex;
}
.content {
  width: 100%;
}
header {
  padding: 200px 0 100px;
}
h2 {
  border-bottom: 1px solid #dddddd;
  font-weight: 600;
}
aside {
  padding: .5rem;
  flex: 0;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
aside nav {
  display: none;
  transition: all .5s ease;
}
aside li.title {
  color: #888;
  font-size: .85rem;
  font-weight: 600;
  padding: 1rem 1rem 0;
}
aside li a {
  padding: .25rem .5rem;
  margin: 0 .5rem;
  border-radius: 4px;
  display: block;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}
aside li a:hover,
aside li a:active,
aside li a:focus {
  background: #f0f0f0;
  color: #222;
  text-decoration: none;
}
aside li a.active {
  color: #0070C2;
  text-decoration: none;
}
aside h1 {
  padding: 0 1rem;
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 0;
  margin-top: 0;
}
aside p {
  display: none;
}
.toggle-nav {
  float: right;
  padding-right: 1rem;
}
.toggle-nav::after {
  content: "\f0c9";
  font-family: 'FontAwesome';
  font-size: 2rem;
  color: #333;
}
.toggle-nav.active::after {
  content: "\f00d";
  font-family: 'FontAwesome';
}
@media screen and (min-width: 1000px) {
  aside {
    display: block;
    flex: 0 0 220px;
    width: 220px;
    border-bottom: 0;
  }
  aside nav {
    display: block !important;
  }
  .content {
    flex: 7.5;
  }
  aside {
    margin-top: 1rem;
    position: static;
  }
  aside h1 {
    font-size: 1.5rem;
  }
  aside p {
    display: block;
    margin: 0 0 1rem;
    padding: 0 1rem;
  }
  .toggle-nav {
    display: none;
  }
}
.active .fa {
  color: #0070C2;
}
.fa {
  color: #99c6e5;
  padding-right: 1rem;
}
.mise-title {
  margin: 0;
}
.mise-subtitle {
  margin-top: 0;
  margin-bottom: 2rem;
  color: #787878;
}
.example {
  background: #e5f0f8;
  margin-bottom: .5rem;
  border: 1px solid #7fb7e0;
}
.example:nth-of-type(odd) {
  background: #cce2f2;
}
.example.special {
  background: #0070C2;
  border: 1px solid #004e87;
  color: #ffffff;
}
.xl-container {
  max-width: 1400px;
  margin: 0 auto;
}
.fixed {
  position: fixed;
  top: 0;
}
@media screen and (min-width: 1000px) {
  .margin {
    margin-left: 220px;
  }
}
