body {
  background: #fff;
}

header {
  padding: 100px 0;
}

header h1 {
  color: #404040;
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-weight: 600;
}

h3 {
  color: #606060;
}

aside {
  padding: .5rem;
  flex: 0;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

aside h1 {
  padding: 0 1rem;
  font-size: 1.8rem;
  margin-bottom: 0;
  margin-top: .5rem;
  letter-spacing: -.05rem;
}

aside p {
  display: none;
  color: #606060;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside nav {
  display: none;
  transition: all .5s ease;
}

aside li.title {
  color: #606060;
  font-size: .85rem;
  font-weight: 600;
  padding: 1rem 1rem 0;
}

aside li a {
  padding: .25rem .5rem;
  margin: 0 .5rem;
  border-radius: 4px;
  display: block;
  color: #404040;
  text-decoration: none;
}

aside li a.active {
  color: #0070C2;
  text-decoration: none;
}

aside li a:hover,
aside li a:active,
aside li a:focus {
  background: #f0f0f0;
  color: #404040;
  text-decoration: none;
}

.content {
  width: 100%;
}

.flex-container {
  display: flex;
}

.toggle-nav {
  float: right;
  padding-right: 1rem;
}

.toggle-nav::after {
  content: "\f0c9";
  font-family: 'FontAwesome';
  font-size: 2rem;
  color: #404040;
}

.toggle-nav.active::after {
  content: "\f00d";
  font-family: 'FontAwesome';
}

.active .fa {
  color: #0070C2;
}

.fa {
  color: #99c6e5;
  padding-right: 1rem;
}

.mise-title {
  margin: 0;
}

.xs-container {
  max-width: 450px;
  margin: 0 auto;
}
.xl-container {
  max-width: 1400px;
  margin: 0 auto;
}

.example-container {
  max-width: 900px;
  padding: 0 1rem;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  top: 0;
}

.padding-top {
  padding-top: 2rem;
}

.example {
  background: #009E56;
  margin-bottom: .5rem;
  border: 1px solid #006e3c;
	color: white;
}

.example:nth-of-type(odd) {
  background: #0070C2;
  border: 1px solid #004e87;
}

.example.special {
  background: #0070C2;
  border: 1px solid #004e87;
  color: #ffffff;
}

@media screen and (min-width: 1080px) {
  aside {
    display: block;
    flex: 0 0 220px;
    width: 220px;
    border-bottom: 0;
  }
  aside {
    margin-top: 1rem;
    position: static;
  }
  aside h1 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  aside p {
    display: block;
    margin: 0 0 1rem;
    padding: 0 1rem;
  }
  aside nav {
    display: block !important;
  }
  .toggle-nav {
    display: none;
  }
  .content {
    flex: 7.5;
    max-width: calc(100% - 220px);
  }
  .margin {
    margin-left: 220px;
  }
}

article {
  margin-bottom: 3rem;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}