/* http://prismjs.com/download.html?themes=prism-twilight&languages=markup+css+clike+javascript+css-extras+scss&plugins=show-language */


/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */

pre {
	font-size: .85rem;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #343434;
  direction: ltr;
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-size: .85rem;
	-webkit-font-smoothing: subpixel-antialiased;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #FAFAFA;
  /* #141414 */
}


/* Code blocks */

pre[class*="language-"] {
  border: 1px solid #eee;
  margin: 1rem 0;
  overflow: auto;
  padding: 1em;
}


/* Inline code */

:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  padding: .15em .2em .05em;
  white-space: normal;
}

:not(pre) > code {
	border: 1px solid #eee;
	background: #fafafa;
	color: #a35b4f;
}


/* Syntax Highlighting */

.token.doctype {
	background: #000000;
	color: #fff;
}

.token.comment,
.token.prolog,
.token.cdata {
	color:  #A9A9A9;
}

.token.namespace {
	opacity: .7;
}

.token.string,
.token.attr-value {
	color: #81994B;
}

.token.punctuation {
	color: #343434;
}
.language-html .token.punctuation {
	color: #AE6538;
}

.token.operator {
	color: $operator;
}

.token.variable {
	color: #AE6538;
}

.token.property {
	color: #D5D5D5;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.constant,
.token.regex,
.token.inserted {
	color: #808994;
}

.token.delimiter {
	background: #000;
	color: #fff;
	padding: 1px 2px;
}

.token.atrule {
	color: #D6ACD6;
}

.token.keyword {
	color: #cba657;
}

.language-autohotkey .token.selector {
	color: #343434;
}

.token.attr-name {
	color: #cba657;
}

.token.function {
	color: #cba657;
}

.token.class-name {
	color: #D6ACD6;
}

.token.deleted,
.language-autohotkey .token.tag {
	color: #cba657;
}

.token.tag {
	color: #AE6538;
}

.language-autohotkey .token.keyword {
	color: #cba657;
}

.token.selector {
	color: #cba657;
}

.token.italic {
	font-style: italic;
}

code[class*=language-scss],
.language-css {
  color: #343434;
}