/* Variables
 * =============== */

/* All variables are defined on this page. */

// Containers
$small: 800px;
$medium: 1000px;
$large: 1200px;

// Breakpoints
$mobile: 600px;
$desktop: $medium; 

// Typography
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #222;
$font-size: 1rem;
$line-height: 1.5;
$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$header-font-color: #333;
$header-font-weight: 500;
$header-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$header-line-height: 1.2;
$h1: 2.2rem;
$h2: 1.9rem;
$h3: 1.6rem;
$h4: 1.4rem;
$h5: 1.2rem;
$h6: 1.1rem;
	
// Colors 
$primary-color: #0072C0;
$accent-color: #009E56;
$gray: #cdcdcd;
$lightgray: lighten($gray, 10%);
$darkgray: darken($gray, 20%);

// Borders 
$border-width: 1px;
$border-style: solid;
$border-color: $gray;
$border-radius: 4px;
$borders: $border-width $border-style $border-color;

// Links 
$link-color: $primary-color;
$link-hover-color: lighten($link-color, 15%);

// Buttons 
$button-background: $primary-color;
$button-color: #ffffff;
$button-font-weight: 600;
$button-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$button-font-size: 1rem;

// Button borders
$button-border-width: 0px;
$button-border-style: solid;
$button-border-color: $button-background;
$button-border-radius: $border-radius;
$button-borders: $button-border-width $button-border-style $button-border-color;

// Muted buttons
$muted-border: 1px solid $gray;
$muted-border-hover: 1px solid darken($gray, 30%);
$muted-background: transparent;
$muted-background-hover: transparent;
$muted-color: darken($gray, 50%);

// Gradient buttons
$gradient-border: 1px solid $primary-color;
$gradient-border-hover: 1px solid darken($primary-color, 20%);
$gradient-background: linear-gradient(lighten($primary-color, 30%), $primary-color);
$gradient-background-hover: linear-gradient($primary-color, darken($primary-color, 15%));
	
// Round buttons
$round-buttons: 40px;

// Forms 
$input-fields: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
$input-buttons: ('[type=submit], [type=reset], [type=button]');
$placeholder: $darkgray;
$input-height: 2.4rem;

// General 
$highlight: #ffeea8;
$bq-border: 8px solid $border-color;
$error: #D33C40;

// Code 
$code-color: $font-color;
$code-family: Menlo, monospace;
$code-background: #f4f4f4;
$code-borders: $borders;
