@use "sass:color";
@use "../base/variables";

/**
 * Buttons
 */

// Main button styling
%buttons {
  -webkit-appearance: none;
  display: inline-block;
  border: variables.$button-border-width variables.$button-border-style variables.$button-border-color;
  border-radius: variables.$button-border-radius;
  background: variables.$button-background;
  color: variables.$button-color;
  font-weight: variables.$button-font-weight;
  font-family: variables.$button-font-family;
  font-size: variables.$button-font-size;
  text-transform: variables.$button-text-transform;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

// Buttons on hover
%buttons-hover {
  border: variables.$button-border-width variables.$button-border-style color.adjust(variables.$button-border-color, $lightness: -10%);
  background: variables.$button-background-hover;
  color: variables.$button-color;
  text-decoration: none;
}

// Buttons on focus
%buttons-focus {
  border: variables.$button-border-width variables.$button-border-style color.adjust(variables.$button-border-color, $lightness: -10%);
  background: color.adjust(variables.$button-background, $lightness: -10%);
  color: variables.$button-color;
  text-decoration: none;
}

// Apply styles to .button class, button element, and button-based inputs
#{variables.$buttons} {
  @extend %buttons;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    @extend %buttons-hover;
  }

  &:focus,
  &:active {
    @extend %buttons-focus;
  }
}

// Secondary button color
.accent-button,
a.accent-button {
  color: variables.$accent-button-color;
  border: 1px solid variables.$accent-button-background;
  background: variables.$accent-button-background;

  &:hover,
  &:focus,
  &:active {
    color: variables.$accent-button-color-hover;
    border: 1px solid color.adjust(variables.$accent-button-background, $lightness: -10%);
    background: color.adjust(variables.$accent-button-background, $lightness: -10%);
  }
}

// Muted buttons
.muted-button,
a.muted-button {
  background: variables.$muted-background;
  border: variables.$muted-border;
  color: variables.$muted-color;

  &:hover,
  &:focus,
  &:active {
    color: variables.$muted-color-hover;
    border: variables.$muted-border-hover;
    background: variables.$muted-background-hover;
  }
}

// Round buttons
.round-button,
a.round-button {
  border-radius: variables.$round-buttons;
}

// Square buttons
.square-button,
a.square-button {
  border-radius: 0;
}

// Full width buttons (block level)
.full-button,
a.full-button {
  display: block;
  width: 100%;
}
