/* Colors
=============*/

$main: rgba(200, 120, 47, 1);
$secondary: rgba(225, 133, 120, 1);
$accent: rgba(117, 127, 192, 1);
$logo: rgba(102, 32, 52, 1);

$white: rgb(255, 255, 255);
$dark: #444;




/* Layout
  =============== */

  a {
    color: #000;
    text-decoration: underline;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: $accent;
  }

  body {
    background: $accent;
    margin-top: 1px;
  }

  h1 {
    font-size: large;
    border: solid 1px $accent;
    padding: 0.5rem;
    color: $accent;
  }

  h2 {
    font-size: 11px;
  }


  header {
    margin-top: 60px;
    background: #2A55F1 url('../images/home-bg.jpg') no-repeat bottom center / cover;
    padding: 60px 0;
    min-height: 250px;
  }

  .main-content {
    max-width: 960px;
    background: white;
    margin: -50px auto;
  }

  .flex-container {
    display: flex;
  }
  
  .content {
    width: 100%;
    border-left: 1px solid #333333;
    padding: 1rem;
  }

  .articolo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
  }

  aside {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    flex: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right, $main, $secondary);
    padding: 10px;
    box-shadow: 5px 10px;
    overflow: hidden;
    transition: all ease-in-out 250ms;
  }

  aside h2 {
    padding: 0 1rem;
    margin-bottom: 0 !important;
    margin-top: .8rem !important;
  }

  aside h2 a {
    text-decoration: none !important;
    font-family: 'Great Vibes', cursive;
    color: $logo;
  }

  aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  aside nav {
    display: none;
  }

  aside li.social {
    color:$logo;
    padding: 0 1rem 0;
  }

  aside li a {
    padding: .25rem 1.5rem;
    margin: 0 .5rem;
    display: block;
    color: #333333;
    text-decoration: none;
  }

  aside li a:hover,
  aside li a:active,
  aside li a:focus {
	background: $accent;
	color: $dark;
  text-decoration: none;
  }

  aside li a.active:hover {
    background: #f0f0f0;
    color: red;
    text-decoration: none;
  }

  .responsive {
    width: 100%;
    height: auto;
  } 

  .footer {
    padding: 2rem 0;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .pulsante {
    bottom: 0;
    position: fixed;
  }

  address {
    font-size: 0.9rem;
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


  /* Desktop Styles */

@media screen and (min-width: 800px) {
	header {
		margin: 0;
		padding: 60px 0;
	}
	header h1 {
		font-size: 3rem;
	}
	aside {
		display: block;
		flex: 0 0 220px;
		width: 220px;
    border-bottom: 0;
    padding-top: 1.5rem;
    position: static;
    height: 100%;
  }

	aside h1 {
		margin-top: 0;
		font-size: 1.2rem;
	}
	aside nav {
		display: block !important;
	}
	.toggle-nav {
		display: none;
	}
	.content {
		flex: 7.5;
		max-width: calc(100% - 220px);
		padding: 0 2rem;
	}
	.margin {
		margin-left: 220px;
	}
	article {
		margin-bottom: 3rem;
	}
}

.logo {
  max-width: 10rem;
  fill: blue;
  
}

@media screen and (min-width: 800px) {
	.flex-50 {
		flex: 5;
	}
}

.templates a img:hover {
	opacity: .8;
}

table .rosso {
  color: $error;
}

table .verde {
  color: green;
}