/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */

/* Containers */

$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px;

/* Breakpoints */

$mobile: $x-small;
$desktop: $medium;

/* Grid */

/* All grid sizes are based on percentages and placed in an array. Remove
 * any you don't need. Any decimal will be rounded down for its respective
 * class name - 33.3333 will be .column-33.
 */

$grid: 10,20,30,40,50,60,70,80,90,100,25,16.6667,33.3333,66.6667,75;
$column-padding: 1rem;
$row-margin: 1rem;
$row-buffer: 5em 0;

/* Main typography */

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #404040;
$font-size: 1rem;
$line-height: 1.5;
$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

/* Heading typography */

$heading-font-color: #404040;
$heading-font-weight: 500;
$heading-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$heading-line-height: 1.2;
$h1: 2.2rem;
$h2: 1.9rem;
$h3: 1.6rem;
$h4: 1.4rem;
$h5: 1.2rem;
$h6: 1.1rem;
	
/* Colors */

$background: #ffffff;
$primary-color: #0072C0;
$secondary-color: #009E56;
$accent-color: #cdcdcd;

/* Links */

$link-color: $primary-color;
$link-hover-color: lighten($link-color, 15%);

/* Borders */

$border-width: 1px;
$border-style: solid;
$border-color: #cdcdcd;
$border-radius: 4px;
$borders: $border-width $border-style $border-color;

/* Buttons */

$button-background: $primary-color;
$button-color: #ffffff;
$button-font-weight: 600;
$button-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$button-font-size: 1rem;

/* Button borders */

$button-border-width: 0px;
$button-border-style: solid;
$button-border-color: $button-background;
$button-border-radius: $border-radius;
$button-borders: $button-border-width $button-border-style $button-border-color;

/* Muted buttons */

$muted-border: 1px solid $accent-color;
$muted-border-hover: 1px solid darken($accent-color, 30%);
$muted-background: transparent;
$muted-background-hover: transparent;
$muted-color: darken($accent-color, 50%);

/* Gradient buttons */

$gradient-border: 1px solid $primary-color;
$gradient-border-hover: 1px solid darken($primary-color, 20%);
$gradient-background: linear-gradient(lighten($primary-color, 30%), $primary-color);
$gradient-background-hover: linear-gradient($primary-color, darken($primary-color, 15%));
	
/* Round buttons */

$round-buttons: 40px;

/* Forms */

/* Most HTML5 input fields are placed in a variable. Remove any you don't need. */

$input-fields: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
$input-buttons: ('[type=submit], [type=reset], [type=button]');
$placeholder: darken($accent-color, 20%);
$input-height: 2.4rem;

/* Tables */

$stripes: #f0f0f0;
$caption: darken($accent-color, 20%);

/* Code */

$code-color: $font-color;
$code-family: Menlo, monospace;
$code-background: #f4f4f4;
$code-borders: $borders;

/* Miscellaneous */

$highlight: #ffeea8;
$bq-border: 8px solid $border-color;
$error: #D33C40;