/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */


/* Containers */

$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px;

// Breakpoints
$mobile: $x-small;
$desktop: $medium;

/* Typography */

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #404040;
$font-size: 1rem;
$line-height: 1.5;
$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

$heading-font-color: #404040;
$heading-font-weight: 400;
$heading-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$heading-line-height: 1.2;

$h1: 2.2rem;
$h2: 1.9rem;
$h3: 1.6rem;
$h4: 1.4rem;
$h5: 1.2rem;
$h6: 1.1rem;

/* Colors */

$background: #ffffff;
$primary-color: #EA8372;
$secondary-color: #FFB88C;
$accent-color: #cdcdcd;
$alternate-background: #fafafa;
$link-color: $primary-color;
$link-hover-color: lighten($link-color, 15%);
$highlight: #ffeea8;
$error: #D33C40;

/* Padding */

$padding: 2rem;
$content-padding: 60px 0;
$content-padding-mobile: 30px 0;

/* Borders */

$border-width: 1px;
$border-style: solid;
$border-color: #cdcdcd;
$border-radius: 4px;
$borders: $border-width $border-style $border-color;

/* Buttons */

$button-background: $primary-color;
$button-background-hover: darken($button-background, 10%);
$button-color: #ffffff;
$button-font-weight: 600;
$button-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
$button-font-size: 1rem;
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: $button-background;
$button-border-radius: $border-radius;
$button-text-transform: uppercase;

// Accent buttons
$accent-button-color: #ffffff;
$accent-button-color-hover: #ffffff;

// Muted Buttons
$muted-border: 1px solid $accent-color;
$muted-border-hover: 1px solid darken($accent-color, 30%);
$muted-background: transparent;
$muted-background-hover: transparent;
$muted-color: darken($accent-color, 50%);
$muted-color-hover: darken($accent-color, 50%);

// Round Buttons
$round-buttons: 40px;

/* Forms */

$input-fields: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
$input-buttons: ('[type=submit], [type=reset], [type=button]');
$input-height: 2.4rem;
$input-background: #ffffff;
$placeholder: darken($accent-color, 20%);
$form-border: 1px solid #cdcdcd;
$form-border-hover: 1px solid darken(#cdcdcd, 10%);
$form-border-focus: 1px solid #898989;

/* Tables */

$stripes: #f0f0f0;
$caption: darken($accent-color, 20%);

/* Code */

$code-color: $font-color;
$code-family: Menlo, monospace;
$code-background: #f4f4f4;
$code-borders: $borders;

$bq-border: 8px solid $border-color;