@use "sass:color";
/**
 * Variables
 *
 * The majority of the configuration for the toolkit.
 */

//==============================================================================
// Containers
//==============================================================================

$x-small: 600px !default;
$small: 800px !default;
$medium: 1000px !default;
$large: 1200px !default;

//==============================================================================
// Breakpoints
//==============================================================================

$mobile: $x-small !default;
$tablet: $small !default;
$desktop: $medium !default;

//==============================================================================
// Global Colors
//==============================================================================

@media (prefers-color-scheme: light) {
  .dark-only {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .light-only {
     display: none;
   }
}
:root {
  // Critical for being able to use the light-dark() function
  color-scheme: light dark;
}

//== Named Colors ==============================================================
// Each of these should be a single value only.

$white: white;
$black: #200;
$vivid-blue: #0366ee;       // rgb(3,102,238),          hsl(214.7,97.5%,47.3%)
$lime-green: #29de7d;       // rgb(41,222,125),         hsl(147.8,73.3%,51.6%)
$very-dark-gray: #333333;   // rgb(51,51,51),           hsl(0,0%,20%)
$gray: #ababab;             // rgb(171,171,171),        hsl(0,0%,67.1%)
$light-gray: #cdcdcd;       // rgb(205,205,205),        hsl(0,0%,80.4%)
$alabaster-white: #fafafa;  // rgb(250,250,250),        hsl(0,0%,98%)
$very-light-gray: #f8f8f8;  // rgb(248,248,248),        hsl(0,0%,97.3%)
$dark-gray: #404040;        // rgb(64,64,64),           hsl(0,0%,25.1%)
$pale-yellow: #ffeea8;      // rgb(255,238,168),        hsl(48.3,100%,82.9%)
$moderate-red: #d33c40;     // rgb(82.7%,23.5%,25.1%),  hsl(358.4,63.2%,53.1%)

//== Semantic Colors ==============================================================
// These can be color pairs, if there is color variants.

$background: light-dark($white, $very-dark-gray) !default;
$font-color: light-dark($dark-gray, $white) !default;
$primary-color: $vivid-blue !default; 
$secondary-color: $lime-green !default;
$accent-color: $light-gray !default;
$alternate-background: light-dark($light-gray, $alabaster-white) !default;
$alternate-color: $dark-gray !default;
$link-color: light-color($vivid-blue, $pale-yellow) !default;
$link-hover-color: light-dark(color.adjust($vivid-blue, $lightness: -15%), color.adjust($pale-yellow, $lightness: -15%)) !default;
$highlight: $pale-yellow !default;
$error: $moderate-red !default;
$success: $lime-green !default;
$bq-border: 16px solid color.adjust($alabaster-white, $lightness: -15%) !default;

//==============================================================================
// Typography
//==============================================================================

// Body
$font-size: 1rem !default;
$body-font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: normal !default;
$font-color: #404040 !default;
$font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$line-height: 1.6 !default;

// Headings
$heading-font-color: light-color($dark-gray, $white) !default;
$heading-font-weight: 600 !default;
$heading-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial,
  sans-serif !default;
$heading-line-height: 1.2 !default;

$h1-mobile: 1.75rem !default;
$h2-mobile: 1.5rem !default;
$h3-mobile: 1.25rem !default;
$h4-mobile: 1.1rem !default;
$h5-mobile: 1rem !default;

$h1: 2.25rem !default;
$h2: 2rem !default;
$h3: 1.75rem !default;
$h4: 1.5rem !default;
$h5: 1.25rem !default;

//==============================================================================
// Spacing
//==============================================================================

$padding: 1rem !default;
$margins: 1.5rem !default;
$content-padding: 60px 0 !default;
$content-padding-mobile: 30px 0 !default;

//==============================================================================
// Borders
//==============================================================================

$border-width: 1px !default;
$border-style: solid !default;
$border-color: $light-gray !default;
$border-radius: 4px !default;
$borders: $border-width $border-style $border-color !default;

//==============================================================================
// Buttons
//==============================================================================

$button-background: $primary-color !default;
$button-background-hover: color.adjust($button-background, $lightness: -10%) !default;
$button-color: $white !default;
$button-font-weight: 600 !default;
$button-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$button-font-size: 1rem !default;
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-border-color: $button-background !default;
$button-border-radius: $border-radius !default;
$button-text-transform: none !default;

// Accent buttons
$accent-button-background: $secondary-color !default;
$accent-button-color: $white !default;
$accent-button-color-hover: $white !default;

// Muted Buttons
$muted-border: 1px solid $accent-color !default;
$muted-border-hover: 1px solid color.adjust($accent-color, $lightness: -30%) !default;
$muted-background: transparent !default;
$muted-background-hover: transparent !default;
$muted-color: light-dark(color.adjust($accent-color, $lightness: -50%), color.adjust($accent-color, $lightness: -20%)) !default;
$muted-color-hover: light-dark(color.adjust($accent-color, $lightness: -50%), color.adjust($accent-color, $lightness: -20%)) !default;

// Round Buttons
$round-buttons: 40px !default;

//==============================================================================
// Forms
//==============================================================================

$forms: (
  '[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email],        [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea'
) !default;
$buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]') !default;
$input-background: transparent !default;
$placeholder: light-color(color.adjust($accent-color, $lightness: -20%), color.adjust($accent-color, $lightness: 110%)) !default;
$form-border: 1px solid $border-color !default;
$form-border-hover: 1px solid color.adjust($border-color, $lightness: -10%) !default;
$form-border-focus: 1px solid $link-color !default;
$box-shadow: light-dark(color.adjust($vivid-blue, $lightness: 30%), color.adjust($pale-yellow, $lightness: 30%));

//==============================================================================
// Tables
//==============================================================================

$stripes-color: light-dark($very-dark-gray, $dark-gray);
$stripes-background: light-dark($very-light-gray, $very-light-gray);
$caption: $gray !default;

//==============================================================================
// Code
//==============================================================================

$code-color: $font-color !default;
$code-size: 14px !default;
$code-family: Menlo, monospace !default;
$code-background: transparent !default;
$code-borders: $borders !default;
