/* Primitive */

html {}

body {
    background: #010101;
    color: #fff;
    font-family: Menlo, Courier New, monospace;
    font-weight: 500;
    font-size: 13px;
}

hr {
    border-top: 1px solid #eee;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover,
a:active,
a:focus {
    color: #F7F461;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Press Start 2P';
    letter-spacing: -.05rem;
    color: #FCB42A !important;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

/* Header */

header {
    margin-top: 60px;
    /*background: #708EFC; */
    padding: 60px 0;
}

header h1 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0px;
    color: transparent !important;
    text-shadow: 5px -5px 0 #FCB42A, 1px -1px 0 #F7F461, 0px 0px 0 #2e2e2e, -1px 2px 0 #2c2c2c, -2px 3px 0 #2a2a2a, -3px 4px 0 #282828, -4px 5px 0 #262626, -5px 6px 0 #242424, -6px 7px 0 #222, -7px 8px 0 #202020, -8px 9px 0 #1e1e1e, -9px 10px 0 #1c1c1c, -10px 11px 0 #1a1a1a, -11px 12px 0 #181818, -12px 13px 0 #161616, -13px 14px 0 #141414, -14px 15px 0 #121212, -10px 15px 30px rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    color: #F7F461;
}

h4,
h5 {
    font-size: 12px;
}

header p {
    color: rgba(255, 255, 255, .9);
    font-family: 'Press Start 2P';
}

a.example-button {
    border: 1px solid white;
    color: white;
}

a.example-button:hover,
a.example-button:active,
a.example-button:focus {
    border: 1px solid white;
    background: white;
    color: #F7F461;
}

.setup {
    margin-bottom: 0;
}

.installation {
    background: #010101;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .setup {
        background: #010101;
        margin-bottom: 60px;
    }
    .installation {
        padding: 20px;
        border: 1px solid #efefef;
        margin-top: -100px;
        margin-bottom: -100px;
    }
}

/* Navigation */

aside {
    padding: .5rem;
    flex: 0;
    background: #010101;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

aside h1 {
    padding: 0 1rem;
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: .8rem;
    letter-spacing: -.05rem;
}

aside h1 a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Press Start 2P';
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside nav {
    display: none;
}

aside li.title {
    color: #FF2155;
    font-size: 1rem;
    padding: 1rem 1rem 0;
    font-family: 'Press Start 2P';
    text-decoration: none;
}

aside li a {
    font-family: 'Press Start 2P';
    padding: .25rem .5rem;
    margin: 0 .5rem;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    border: 1px solid transparent;
    border-radius: 4px;
}

aside li a.active {
    background: #FF2155 !important;
    border: 1px solid #fff;
    border-radius: 4px;
}

aside li a:hover,
aside li a:active,
aside li a:focus {
    background: rgba(20, 20, 20, .9);
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}

aside li a.active:hover,
aside li a.active:active,
aside li a.active:focus {
    background: rgba(20, 20, 20, .9);
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}

input,
select {
    font-family: "Press Start 2P";
    color: white;
}

input:active,
input:focus,
select:active,
select:focus {
    border: 1px solid #FF2155 !important;
    box-shadow: 0 !important;
}

.fa {
    color: #fff;
    padding-right: 1rem;
}

.active .fa {
    color: #fff;
}

.toggle-nav {
    float: right;
    padding-right: 1rem;
}

.toggle-nav::after {
    content: "\f0c9";
    font-family: 'FontAwesome';
    font-size: 2rem;
    color: #404040;
}

.toggle-nav.active::after {
    content: "\f00d";
    font-family: 'FontAwesome';
}

.fixed {
    position: fixed;
    top: 0;
}

/* Containers */

.content {
    width: 100%;
    border-left: 1px solid transparent;
}

.flex-container {
    display: flex;
}

.primitive {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    padding-top: .1rem;
}

article {
    margin-bottom: 1.5rem;
}

.example {
    margin-bottom: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    background: transparent;
    border: 2px solid #708EFC;
    font-weight: 600;
    color: white;
}

.footer {
    padding: 2rem 0;
}

/* Desktop Styles */

@media screen and (min-width: 1080px) {
    header {
        background: #2A55F1 url('../images/grid.png') no-repeat left center / cover;
        margin: 0;
        padding: 60px 0 100px;
    }
    header h1 {
        font-size: 4rem;
        margin-bottom: 60px;
    }
    aside {
        display: block;
        flex: 0 0 220px;
        width: 220px;
        border-bottom: 0;
    }
    aside {
        margin-top: 1rem;
        position: static;
    }
    aside h1 {
        margin-top: 0;
        font-size: 1.2rem;
    }
    aside nav {
        display: block !important;
    }
    .toggle-nav {
        display: none;
    }
    .content {
        flex: 7.5;
        max-width: calc(100% - 220px);
    }
    .margin {
        margin-left: 220px;
    }
    article {
        margin-bottom: 3rem;
    }
}

.logos {
    max-width: 150px;
}

@media screen and (min-width: 800px) {
    .flex-50 {
        flex: 5;
    }
}

.padding-top {
    padding-top: 1rem;
}

.templates a img:hover {
    opacity: .8;
}

.templates .row {
    background: white;
    padding: 1rem;
    border-radius: 4px;
}

::selection {
    background: #FF2155;
}

pre[class*="language-"],
pre {
    background: rgba(20, 20, 20, .95);
    border: 0;
}

code[class*="language-"],
pre[class*="language-"] {
    font-family: Menlo, Courier New, monospace;
    font-size: 13px;
    font-weight: 600;
    color: #cdcdcd;
    -webkit-font-smoothing: antialiased;
}

.token.tag,
.token.variable {
    color: #FF2155;
}

.token.string,
.token.attr-value,
.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.constant,
.token.regex,
.token.inserted {
    color: #708EFC;
}

.token.attr-name,
.token.function {
    color: #F7F461;
}

.token.keyword {
    color: #00FFDF;
}

.language-html .token.punctuation,
.token.punctuation {
    color: #fff;
}

:not(pre)>code {
    background: transparent;
    padding: 0;
    font-weight: 600;
    color: #708EFC;
}

pre code,
pre {
    color: #cdcdcd;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

pre code::-webkit-scrollbar,
pre::-webkit-scrollbar {
    display: none;
}

blockquote {
    border: 2px solid #333;
    font-family: 'Press Start 2P';
    font-size: 18px;
}

.button,
[type=button],
[type=reset],
[type=submit],
a.button,
button,
.accent-button,
a.accent-button,
.muted-button,
a.muted-button {
    background: black;
    border: 1px solid #fff !important;
    font-family: 'Press Start 2P';
    color: #fff;
    font-size: .9rem;
}

.button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover,
a.button:hover,
button:hover,
.accent-button:hover,
a.accent-button:hover,
.muted-button:hover,
a.muted-button:hover {
    background: #FF2155;
    color: #fff;
    border: 1px solid #fff;
}

.button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus,
a.button:focus,
button:focus,
.accent-button:focus,
a.accent-button:focus,
.muted-button:focus,
a.muted-button:focus {
    background: #FF2155;
    color: #fff;
    border: 1px solid #fff;
}

input.has-error {
    box-shadow: none;
    border: 1px solid #FF2155;
}

.striped-table tbody tr:nth-child(odd) {
    background-color: rgba(40, 40, 40, .95);
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
    background: rgba(40, 40, 40, .95);
    border: 1px solid rgba(80, 80, 80, .95) !important;
    box-shadow: 0;
}

pre,
pre code,
code,
:not(pre)>code {
    font-family: Menlo, Courier New, monospace;
}
