/* Primitive */

body {
	/* Using a slightly darker dark-mode color to allow for
	 * better contrast with Prism styles */
	background-color: light-dark(white, #222);
}

a {
	text-decoration: underline;
}

.alternate-background {
	background-color: light-dark(white, black);
	color: light-dark(black, white);

	h1, h2, h3, h4, h5, h6 {
		color: light-dark(black, white);
	}
}

/* Prism style hack to ensure dark-mode contrast on some tags
 * Prism does not innately support light-dark, so we cannot
 * reliably change the background to a dark color without harming contrast.
 */
:not(pre) > code {
  color: light-dark(#c7254e, #f9577f);
}
pre {
	background-color: light-dark(#f8f8f8, #020202);
}


/* Header */

header {
	margin-top: 60px;
	background: #2A55F1 url('../images/grid.png') no-repeat left center / cover;
	padding: 60px 0;

	h1 {
		color: transparent;
		font-size: 2rem;
		text-transform: uppercase;
		font-family: 'Press Start 2P';
		text-shadow: 5px -5px 0 #FCB42A, 1px -1px 0 #000;
	}

	p {
		color: rgba(255, 255, 255, .9);
	}

	a {
		color: white;
	}
}

a.example-button {
	background: transparent;
	border: 1px solid white;
	color: white;

	&:hover, &:active, &:focus {
		border: 1px solid white;
		background: white;
		color: #0366ee;
	}
}

.setup {
	margin-bottom: 0;
}

.installation {
	background: light-dark(white, black);
	text-align: center;
}

@media screen and (min-width: 800px) {
	.setup {
		margin-bottom: 60px;
	}
	.installation {
		padding: 20px;
		border: 1px solid #efefef;
		margin-top: -100px;
		margin-bottom: -100px;
	}
}


/* Navigation */

aside {
	padding: .5rem;
	flex: 0;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	h1 {
		padding: 0 1rem;
		font-size: 1.3rem;
		margin-bottom: 0 !important;
		margin-top: .8rem !important;
		letter-spacing: -.05rem;

		a {
			text-transform: uppercase;
			text-decoration: none !important;
			font-family: 'Press Start 2P';
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav {
		display: none;
	}

	li {
		&.title {
			font-size: .85rem;
			padding: 1rem 1rem 0;
		}

		a {
			padding: .25rem .5rem;
			margin: 0 .5rem;
			display: block;
			color: light-dark(#404040, #b0b0b0);
			text-decoration: none;

			&:hover, &:active, &:focus {
				background: #f2f2f2;
				color: #000;
				text-decoration: none;
			}

			&.active {
				color: #0366ee;
			}
		}
		&:hover:has(.active), &:active:has(.active), &:focus:has(.active) {
			background: #f0f0f0;
			color: #0366ee;
			text-decoration: none;
		}
	}
}

.fa {
	padding-right: 1rem;
}

.toggle-nav {
	float: right;
	padding-right: 1rem;

	&::after {
		content: "\f0c9";
		font-family: 'FontAwesome';
		font-size: 2rem;
		color: #404040;
	}

	&.active::after {
		content: "\f00d";
		font-family: 'FontAwesome';
	}
}

.fixed {
	position: fixed;
	top: 0;
}


/* Containers */

.content {
	width: 100%;
	border-left: 1px solid #eee;
}

.flex-container {
	display: flex;
}

.primitive {
	max-width: 1100px;
	margin: 0 auto;
}

section {
	padding-top: .1rem;
}

article {
	margin-bottom: 1.5rem;
}

.example {
	margin-bottom: .5rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	border: 1px solid #0366ee;
	font-weight: 400;
}

.footer {
	padding: 2rem 0;
}


/* Desktop Styles */

@media screen and (min-width: 800px) {
	header {
		margin: 0;
		padding: 60px 0;

		h1 {
			font-size: 3rem;
		}
	}

	aside {
		display: block;
		flex: 0 0 220px;
		width: 220px;
		border-bottom: 0;
		margin-top: 1rem;
		position: static;

		h1 {
			margin-top: 0;
			font-size: 1.2rem;
		}

		nav {
			display: block !important;
		}
	}

	.toggle-nav {
		display: none;
	}
	.content {
		flex: 7.5;
		max-width: calc(100% - 220px);
		padding: 0 2rem;
	}
	.margin {
		margin-left: 220px;
	}
	article {
		margin-bottom: 3rem;
	}
}

.logos {
	max-width: 150px;
}

@media screen and (min-width: 800px) {
	.flex-50 {
		flex: 5;
	}
}

.templates a img:hover {
	opacity: .8;
}

#eighties {
	font-family: 'Press Start 2P';
	border: 1px solid #fff;
	background: black;

	&:hover {
		background: #FF2155;
	}
}
