code[class*="language-"],
pre[class*="language-"] {
  color: #343434;
  direction: ltr;
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
}


/* Code blocks */

pre[class*="language-"],
pre {
  overflow: auto;
  padding: 1rem;
  font-size: 14px;
	margin: 1rem 0;
	background: #f8f8f8;
}


/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: .15em .2em .05em;
  white-space: normal;
}

:not(pre) > code {
  border: 0px solid #eee;
  color: #c7254e;
	font-size: 14px;
	border-radius: 0;
	-webkit-font-smoothing: subpixel-antialiased;
}


/* Syntax Highlighting */

.token.doctype {
  background: #000000;
  color: #fff;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #898989;
}

.token.namespace {
  opacity: .7;
}

.token.string,
.token.attr-value {
  color: #00b29c;
}

.token.punctuation {
  color: #343434;
}

.language-html .token.punctuation {
  color: #1E6BD6;
}

.token.operator {
  color: #222;
}

.token.variable {
  color: #c7254e;
}

.token.property {
  color: #D5D5D5;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.constant,
.token.regex,
.token.inserted {
  color: #e6550d;
}

.token.delimiter {
  background: #000;
  color: #fff;
  padding: 1px 2px;
}

.token.atrule {
  color: #756bb1;
}

.token.keyword {
  color: #756bb1;
}

.language-autohotkey .token.selector {
  color: #222;
}

.token.attr-name {
  color: #555;
}

.token.function {
  color: #756bb1;
}

.token.class-name {
  color: #756bb1;
}

.token.deleted,
.language-autohotkey .token.tag {
  color:  #c7254e;
}

.token.tag {
  color: #1E6BD6;
}

.language-autohotkey .token.keyword {
  color: #222;
}

.token.selector {
  color: #c7254e;
}

.token.italic {
  font-style: italic;
}