/* Buttons
  =============== */


/* Buttons */

%buttons {
  display: inline-block;
  line-height: 1;
  border: $button-borders;
  border-radius: $button-border-radius;
  background: $button-background;
  color: $button-color;
  font-weight: $button-font-weight;
  height: $input-height;
  text-transform: uppercase;
  padding: .6rem 1.2rem;
  cursor: pointer;
  margin: .5rem 0;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
}

/* Buttons on hover */

%buttons-hover {
  background: darken($button-background, 10%);
  color: $button-color;
  text-decoration: none;
}

/* Apply styles to .button class, button element, and button-based inputs */

.button,
button,
#{$input-buttons} {
  @extend %buttons;
  &:before {
    // Ensure that text inside button classes are vertically centered
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &:hover {
    @extend %buttons-hover;
  }
  // Secondary button color
	&.accent { 
		background: $accent-color;
		&:hover {
			background: darken($accent-color, 10%);
		}
	}
  &.round {
    border-radius: $round-buttons;
  }
  &.square {
    border-radius: 0;
  }
  &.full {
    display: block;
    width: 100%;
  }
  // Muted buttons
  &.muted {
    background: transparent;
    border: $muted-border;
    color: $muted-color;
    &:hover {
      border: $muted-border-hover;
      background: $muted-background-hover;
    }
  }
}
