/* Grid
=============== */

// On mobile, all columns are full width with a bottom margin
.row {
  &::before,
  &::after {
    display: table;
    content: " ";
    clear: both;
  }
}
.column {
  width: 100%;
}
&.no-collapse {
  .column {
    float: left;
  }
  @for $i from 1 through 9 {
    $width: $i;
    .small-#{$i * 10},
    .large-#{$i * 10} {
      width: percentage($width) * .1;
    }
  }
  .small-33,
  .large-33 {
    width: calc(100% / 3);
  }
  .small-66,
  .large-66 {
    width: calc(100% / 3 * 2);
  }
  .small-75,
  .large-75 {
    width: 75%;
  }
}
// Begin first mobile breakpoint
@include small-breakpoint {
  // Float all columns to the left, add padding and remove bottom margin
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
  }
  @for $i from 1 through 9 {
    $width: $i;
    .small-#{$i * 10} {
      width: percentage($width) * .1;
    }
  }
  .small-33 {
    width: calc(100% / 3);
  }
  .small-66 {
    width: calc(100% / 3 * 2);
  }
  .small-75 {
    width: 75%;
  }
}
// Begin desktop breakpoint
@include large-breakpoint {
  // Float columns to the left at for desktop
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
  }
  @for $i from 1 through 9 {
    $width: $i;
    .large-#{$i * 10} {
      width: percentage($width) * .1;
    }
  }
  .large-33 {
    width: calc(100% / 3);
  }
  .large-66 {
    width: calc(100% / 3 * 2);
  }
  .large-75 {
    width: 75%;
  }
}
// Small breakpoint offsets
@include small-breakpoint {
  @for $i from 1 through 9 {
    $margin: $i * 10%;
    .push-small-#{$i * 10} {
      margin-left: $margin; //margin-left: calc(#{$margin} + 1rem);
    }
  }
  // 1/4 and 1/3 fractions
  .push-small-25 {
    margin-left: 25%;
  }
  .push-small-33 {
    margin-left: 33%;
  }
  .push-small-66 {
    margin-left: 66%;
  }
  .push-small-75 {
    margin-left: 75%;
  }
}
// Large offset
@include large-breakpoint {
  @for $i from 1 through 9 {
    $margin: $i * 10%;
    .push-large-#{$i * 10} {
      margin-left: $margin; //margin-left: calc(#{$margin} + 1rem);
    }
  }
  // 1/4 and 1/3 fractions
  .push-large-25 {
    margin-left: 25%;
  }
  .push-large-33 {
    margin-left: 33%;
  }
  .push-large-66 {
    margin-left: 66%;
  }
  .push-large-75 {
    margin-left: 75%;
  }
}
