/* Grid
=============== */

// Desired percentages
$list: 10,20,30,40,50,60,70,80,90,25,33.3333,66.6667,75;

// Mobile column view
%full-width-column {
  width: 100%;
}
// Non collapsing columns
%no-collapse {
  float: left;
}
// Breakpoint view
@include small-breakpoint {
  %percentage-width-column, %no-collapse {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
  }
}
// Clearfix row
.row {
  &::before,
  &::after {
    display: table;
    content: " ";
    clear: both;
  }
}

/* Mobile view */

// On mobile, all columns are full width with a bottom margin
@each $entry in $list {
  .small-#{floor($entry)},
  .large-#{floor($entry)} {
    @extend %full-width-column;
  }
  .column-#{floor($entry)} {
    width: percentage($entry) * 0.01;
    @extend %no-collapse;
  }
}

/* Small screen breakpoint */

@include small-breakpoint {
  // Float all columns to the left for small screens
  @each $entry in $list {
    .small-#{floor($entry)} {
      width: percentage($entry) * 0.01;
      @extend %percentage-width-column;
    }
    // Small offsets
    .push-small-#{floor($entry)} {
      margin-left: percentage($entry) * 0.01;
    }
  }
}

/* Large screen breakpoint */

@include large-breakpoint {
  // Float columns to the left at for large screens
  @each $entry in $list {
    .large-#{floor($entry)} {
      width: percentage($entry) * 0.01;
      @extend %percentage-width-column;
    }
    // Large offsets
    .push-large-#{floor($entry)} {
      margin-left: percentage($entry) * 0.01;
    }
  }
}