/* Grid
=============== */

// On mobile, all columns are full width with a bottom margin
.row {
  &::before,
  &::after {
    display: table;
    content: " ";
    clear: both;
  }
  [class*=small],
  [class*=large] {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  &.no-collapse {
    [class*=small], 
    [class*=large] {
      float: left;
    }
    .small-10,
    .large-10 {
      width: 10%;
    }
    .small-20,
    .large-20 {
      width: 20%;
    }
    .small-33,
    .large-33 {
      width: calc(100% / 3);
    }
    .small-50,
    .large-50 {
      width: 50%;
    }
    .small-66,
    .large-66 {
      width: calc(100% / 3 * 2);
    }
    .small-75,
    .large-75 {
      width: 75%;
    }
    .small-80,
    .large-80 {
      width: 80%;
    }
    .small-90,
    .large-90 {
      width: 90%;
    }
  }
}
// Begin first mobile breakpoint
@include breakpoint {
  // Float all columns to the left, add padding and remove bottom margin
  .row {
    [class*=small] {
      float: left;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 0;
    }
    .small {
      width: 100%;
    }
    .small-10 {
      width: 10%;
    }
    .small-20 {
      width: 20%;
    }
    .small-25 {
      width: calc(100% / 4);
    }
    .small-33 {
      width: calc(100% / 3);
    }
    .small-50 {
      width: 50%;
    }
    .small-66 {
      width: calc(100% / 3 * 2);
    }
    .small-75 {
      width: 75%;
    }
    .small-80 {
      width: 80%;
    }
    .small-90 {
      width: 90%;
    }
  }
}
// Begin desktop breakpoint
@include large-breakpoint {
  // Float columns to the left at for desktop
  .row {
    [class*=large] {
      float: left;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 0;
    }
    .large-10 {
      width: 10%;
    }
    .large-20 {
      width: 20%;
    }
    .large-25 {
      width: calc(100% / 4);
    }
    .large-33 {
      width: calc(100% / 3);
    }
    .large-50 {
      width: 50%;
    }
    .large-66 {
      width: calc(100% / 3 * 2);
    }
    .large-75 {
      width: 75%;
    }
    .large-80 {
      width: 80%;
    }
    .large-90 {
      width: 90%;
    }
  }
}
