/* Helpers
  =============== */


/* Clearfix */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

/* Text alignment */
 
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/* Display State */

.show { display: block !important; }
.hidden { display: none !important; }
.invisible { visibility: hidden; }