/* Scaffolding
  =============== */

// HTML base
html {
	-webkit-font-smoothing: antialiased;
	font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}

// Body base
body {
	color: $font-color;
}

// Headers
h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.02em;
	margin: 1.5rem 0;
	font-weight: $header-font-weight;
	color: $header-font-color;
	span {
		font-size: 65%;
		color: lighten($font-color, 20%);
		padding-left: .5rem;
	}
}

// Header size
h1 { font-size: $h1; }
h2 { font-size: $h2; }
h3 { font-size: $h3; }
h4 { font-size: $h4; }
h5 { font-size: $h5; }
h6 { font-size: $h6; }

// Link styling
a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

// Highlight
mark {
	background: $highlight;
	padding: 0 0.2rem;
}

// Blockquote
blockquote {
	margin: 0;
	border-left: $bq-border;
	padding: .5rem 1.5rem;
	font-size: 1.2rem;
  cite {
    display: block;
    margin-top: 25px;
    font-size: .9em;
    text-align: right
  }
}

// Code block styling
pre {
  border: 0;
	border-radius: $border-radius;
	background: $code-background;
	padding: 1rem;
	tab-size: 2;
	code {
		color: $code-color;
		font-family: $code-family;
		font-size: .9rem;
		line-height: 1.2;
		webkit-font-smoothing: subpixel-antialiased;
	}
}

// Inline code styling
:not(pre) > code {
	color: $code-color;
	background: $code-background;
	font-family: $code-family;
	padding: 0 0.2rem;
	border: $borders;
	border-radius: $border-radius;
}

// Line break
hr {
	height: 0;
	border: 0;
	border-top: $borders;
}

// Definition list

dt {
	font-weight: bold;
}
dd {
	margin-bottom: .5rem;
}

// Container
.container {
  max-width: $large;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

// Small container
.small-container {
	@extend .container;
  max-width: $small;
}

// Medium container
.medium-container {
  @extend .container;
  max-width: $medium;
}