/* Tables
  =============== */

/* Table expands to full width of containing element */

table {
  width: 100%;
  max-width: 100%;
}
th,
td {
  text-align: left;
  padding: .5rem;
}
td {
  border-top: 1px solid $gray;
}

/* Striped tables */

.striped > tbody {
  tr:nth-of-type(odd) {
    background: $lightgray;
  }
}

/* Container for responsive tables */

.table-scroll {
  overflow-x: auto;
}
@include large-screen {
  .table-scroll {
    width: 100%;
  }
}
